@media (max-width: 920px) {
    .main_5 {
        height: auto;
        padding: 50px 0;
    }

    .main_5 .down {
        flex-wrap: wrap;
        margin: 0 20px;
        height: auto;
    }

    .main_5 .down .text {
        max-width: 48%;
        height: auto;
        padding: 30px;
    }

    .main_5 .down .text:hover {
        transform: none;
        box-shadow: none;
    }
}
