@use "../variables/colors" as *;
@use "../mixins/mixins" as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    .main {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $bg-color-second;
        height: 791px;
        margin-bottom: 100px;
            .info {
                @include flex (center, flex-start, column);
                gap: 20px;
                width: 50%;
                padding: 130px;
                position: relative;
                .kolosok {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
                .zerno {
                    position: absolute;
                    right: 280px;
                    top: 150px;
                }
                h5 {
                    @include font_second;
                    font-weight: 400; 
                }
                h1 {
                    @include font_title ($font-size: 7.2rem);
                    line-height: 80px;
                }
                p {
                    @include font_other ($font-size: 2rem)
                }
            }
            .photo {
                width: 50%;
                max-width: 100%;
                height: 100%;
                background-image: url(../img/Photo1.svg);
                background-size: cover;
                background-position: center;
                
            }
        }
    }

